version: '3.8'
services:
  mongo:
    image: mongo:7
    restart: always
    ports:
      - 27017:27017
    volumes:
      - mongo-data:/data/db

  api:
    build: .
    env_file: .env
    ports:
      - 8000:8000
    depends_on:
      - mongo

volumes:
  mongo-data:
