apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "my-cluster.fullname" . }}-fastapi
spec:
  replicas: {{ .Values.fastapi.replicaCount }}
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
        - name: fastapi
          image: "{{ .Values.fastapi.image }}"
          imagePullPolicy: {{ .Values.fastapi.imagePullPolicy }}
          ports:
            - containerPort: {{ .Values.fastapi.port }}
          env:
            - name: MONGO_URI
              value: "{{ .Values.fastapi.env.MONGO_URI }}"
---
apiVersion: v1
kind: Service
metadata:
  name: fastapi
spec:
  type: ClusterIP
  selector:
    app: fastapi
  ports:
    - protocol: TCP
      port: 80
      targetPort: {{ .Values.fastapi.port }}
